* { box-sizing: border-box; }

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.cell {
  padding: 1em;
  border: thin solid gray;

}

#joel-ball {
  width: 5em;
  height: 5em;
  border: 0.5em solid black;
  cursor: pointer;
  float: left;
  position: relative;
  z-index: 2;
  border-radius: 50%;
  user-select: none;
  background-color: red;
}
